@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Today's Weather In Your Area: </h1>
<h2>
    56 Degrees with clear skies
</h2>



<a href="/SearchResults" class="btn btn-primary">7 Day Forecast Ranking</a>


