@page
@model Homework2Puccio.Pages.Index1Model
@{
}
<h1 class="h1">Forecast vs Actual Temp: </h1>
<html lang="en">
<head>
    <style>
        table {
            width: 50%; /* Adjust the width as needed */
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2x7 Table</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Forecasted Temp </th>
                <th>Actual Temp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>35</td>
                <td>36</td>
            </tr>
            <tr>
                
                <td>40</td>
                <td>44</td>
            </tr>
            <tr>

                <td>27</td>
                <td>38</td>
            </tr>
            <tr>
             
                <td>50</td>
                <td>45</td>
            </tr>
            <tr>
               
                <td>39</td>
                <td>45</td>
            </tr>
            <tr>
            
                <td>37</td>
                <td>37</td>
            </tr>
            <tr>
              
                <td>40</td>
                <td>45</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<h2>
    Average Margin of error: 4.6 Degrees
</h2>
<h2>Forecast Rating: 7.5/10</h2>